/*#image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    position : right top;
    margin : 30 px;

}
#div_image {
    margin-left : 100px;
    width : 50%;
    height : 100%;
}
#div_all{
    width: 100%;
    height: 100%;
}
#div_write {
    width : 50%;
    height : 100%;
    float : right;
}
*/
/*
a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}
*/
